<div style="max-width: 150px; margin-bottom:5px;margin-top:5px;">
    <user-display></user-display>
</div>

<mat-card>
    
      
        <mat-card-content>
            
            
            
            <div class="canvasContainer" #canvasContainer>
                    <div style="float:right; z-index:3;">
                            <button style="z-index:4;" mat-icon-button (click)="downloadImage()" color="accent">
                                <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
                            </button>
                            <button style="z-index:4;" mat-icon-button (click)="fullScreenCanvas()" color="accent">
                                <mat-icon aria-label="Example icon-button with a heart icon">fullscreen</mat-icon>
                            </button>
                        </div>
        
                        <canvas-whiteboard #canvasWhiteboard
                            [drawButtonEnabled]="false"
                            [clearButtonEnabled]="false"
                            [showShapeSelector]="false"
                            [shapeSelectorEnabled]="false"
                            (onBatchUpdate)="sendBatchUpdate($event)"></canvas-whiteboard>
            </div>
                
                
               

        </mat-card-content>
      
</mat-card>   
