canvas-whiteboard {
    display: block;
    height: 80vh;
}

.canvas_whiteboard_buttons{
    padding: 0px !important;
}

.canvasContainer:-ms-fullscreen > canvas-whiteboard{
    height:100%;
}
.canvasContainer:-moz-full-screen > canvas-whiteboard{
    height:100%;
}
.canvasContainer:-webkit-full-screen > canvas-whiteboard{
    height:100%;
}